body {
    background-color: lightblue;
}

h1,
h2 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.img1 {
    width: 100%;
}

.ce1,
.ce2 {
    color: teal;
    background-color: azure;
}

.divBackgroundp {
    background-color: aquamarine;
}

.divBackgroundc1 {
    background-color: black;
}

.divBackgroundc2 {
    background-color: darkblue;
    color: aliceblue;
    opacity: 0.3;
}

.bgimagetry {
    height: 500;
    width: 500;
    background-image: url("https://images5.alphacoders.com/487/thumb-1920-487955.jpg");

}

.backgroundImage {
    color: aliceblue;
}

.cssborder {
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: red;
}

.CSSMargin {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
}

.CSSPadding {
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.OutlineCSS {
    outline-style: solid;
    outline-width: 2px;
    outline-color: red;
}

.BorderCSS {
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: red;
}

.font1 {
    font-family: "Times New Roman", Times, serif;
}

.font2 {
    font-family: Arial, Helvetica, sans-serif;
}

.font3 {
    font-family: "Lucida Console", "Courier New", monospace;
}

/* <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Sofia"> */
.font4 {
    font-family: "Sofia", sans-serif;
}

ul.alist {
    list-style-type: circle;
}

ul.blist {
    list-style-type: square;
}

ol.clist {
    list-style-type: upper-roman;
}

ol.dlist {
    list-style-type: lower-alpha;
}

#tablecss {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

#tablecss td,
#tablecss th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tablecss tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tablecss tr:hover {
    background-color: #ddd;
}

#tablecss th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

div.position_static {
    position: static;
    border: 3px solid #73AD21;
}

div.position_relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}

div.Position_fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

div.position_relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
}

div.position_absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
}

.textOverPic {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.txtOverimgContainer {
    position: relative;
}

.txtOverimgbottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.txtOverimgcenter {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.txtOverimgbottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}

.txtOverimgtopright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.txtOverimgtopleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}


.txtOverimg {
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.navlinkStyle {
    background-color: yellow;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navlinkStyle li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.aligncenter {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.imageAlignment {
    display: block;
    margin-left: auto;
    margin-right: auto;
}