body,
* {
    font-family: "normal normal normal Helvetica Neue";

}


.navbarTopLIne {
    width: 100%;
    height: 13px;
    background-color: #D10D74;
}

.topNavbar {
    margin-bottom: 3%;
}

.imagediv {
    margin-top: 2%;
    margin-bottom: 2%;
}

.keywordSpacing {
    margin-top: 3%;
}

.SpecificAndDivid {
    margin-top: 3%;
}

.KeywordaddandList {
    margin-top: 8%;
}

.footerbuttonlist {
    margin-top: 3%;
}

.bracLogo {
    top: 26px;
    left: 46px;
    width: 151px;
    height: 50px;
    opacity: 1;
}

#UploadIcon {
    top: 43px;
    left: 659px;
    width: 23px;
    height: 14px;
    color: #D10D74;
    opacity: 1;
}

.UploadUnderline {
    text-decoration-color: #D10D74;
}

.UploadText {
    border-bottom: 2px;
}

.navMiddleIcon {
    display: flex;
    flex-direction: row;
}

.downarrow {
    margin-left: 2%;
}

#crownLogo {
    top: 44px;
    left: 982px;
    width: 20px;
    height: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 5px;
    margin-right: 5px;
}

#bellLogo,
#UserLogo {
    top: 44px;
    left: 982px;
    width: 25px;
    height: 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.usrnotcrwn {
    display: flex;
    flex-direction: row;

}

.UserMedia {
    display: flex;
    flex-direction: row;

}

.UserInfoParent {
    width: 110px;
}

.UserInfo {
    margin-bottom: 0px;
    margin-top: -3px;
    font-weight: bold;
    font-size: smaller;
    align-items: center;
}

.Usercredential {
    font-size: small;
}

.userIconNav {
    height: 15px;
    width: 15px;
}

#wordart {
    font: 20px/25px;
    font-weight: bolder;

    letter-spacing: 0;
    color: #3db7e4;
    text-align: left;
    opacity: 1;
}

#Apdf {
    margin-bottom: 23px;
    font-size: 22px;
    font-weight: bold;

    letter-spacing: 0;
    color: #4d4f53;
    text-align: left;

    opacity: 1;
}

#pdf {
    height: 26px;
    opacity: 1;
    font-size: 26px;
}

#division,
#pDT {
    color: #3db7e4;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #3DB7E4;
    margin-bottom: 1.5%;
    opacity: 1;
}

#timeDate {
    height: 40px;
    background: #e9ecef 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: 0px;
}

#dropdownSelectDivision {
    width: 240px;
    border: 0px;
}

#keywordadd {
    border: 0px;
    background-color: #e9ecef;
    width: 100%;
    font-family: 'Helvetica', FontAwesome, sans-serif;
    height: 40px;
    border-radius: 5px;
}

#DescriptionInpField {
    overflow: hidden;
    border: 0px;
    background-color: #e9ecef;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

#keywords {
    justify-content: space-around;
    font-size: 18px;
    letter-spacing: 0;
    color: #4d4f53;
    text-align: left;
    opacity: 1;
    margin-bottom: 0px;
    flex-wrap: wrap;
}

#Name {
    border: 0;
    color: #4d4f53;
    background-color: #e9ecef;
    text-align: left;
    opacity: 1;
    margin-bottom: 0px;
    flex-wrap: wrap;
    border-radius: 5px;
    height: 40px;
    width: 100%;
}

#keywordbackground {
    background-color: #F7F7F7;
    margin-right: 1%;
    margin-left: 1%;
}

#optional {
    color: #d2d2d2;
}

.flx {
    display: flex;
}

.filds {
    margin-bottom: 25px;
}

#imgTec {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

#pil {
    border-radius: 16px;
    color: white;
    background-color: #3DB7E4;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 1.5%;

}

#pilback {
    margin-bottom: 1.5%;
    border-radius: 16px;
    color: #A0A5AF;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
}

#pil1,
#pil2,
#pil3 {
    margin-bottom: 1.5%;
    border-radius: 16px;
    color: white;
    background-color: #A0A5AF;
    margin-left: 15px;
    margin-right: 15px;
}

#norm {
    color: #A0A5AF;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
}

#ddown {

    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;

}

#menu1 {
    text-align: left;
    font: normal normal normal 16px Helvetica Neue;
    letter-spacing: 0px;
    color: #4d4f53;
    opacity: 1;
}

#PubicLabel {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #A0A5AF;
    opacity: 1;
}

#OnlyMeLabel {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #A0A5AF;
    opacity: 1
}

#SpecificPerson {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #A0A5AF;
    opacity: 1
}

#DivisionAndGrade {
    text-align: left;
    font: normal normal normal 16px Helvetica Neue;
    letter-spacing: 0px;
    color: #A0A5AF;
    opacity: 1
}

#ddown2 {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #A0A5AF;
    opacity: 1;
}

#menu2 {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #A0A5AF;
    opacity: 1;
}

#ddown3 {
    opacity: 1;
}

#menu3 {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #A0A5AF;
    opacity: 1;
}