table, caption{
    padding-top: 20px;
}
table {
  font-family: Garamond, sans-serif;
  /* border-collapse: collapse; */
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 100px;
  padding-right: 100px;
}

td, th {
  border: 1px solid #000000;
  text-align: center;
  padding: 10px;
}