.navbarTopLIne {
    width: 100%;
    height: 13px;
    background-color: #D10D74;
}

.bracLogo {
    top: 26px;
    left: 46px;
    width: 151px;
    height: 50px;
    opacity: 1;
}

#UploadIcon {
    top: 43px;
    left: 659px;
    width: 23px;
    height: 14px;
    color: #D10D74;
    opacity: 1;
}

.UploadUnderline {
    text-decoration-color: #D10D74;
}

.UploadText {
    border-bottom: 2px;
}

.navMiddleIcon {
    display: flex;
    flex-direction: row;
}

#crownLogo,
#bellLogo,
#UserLogo {

    top: 44px;
    left: 982px;
    width: 25px;
    height: 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.usrnotcrwn {
    display: flex;
    flex-direction: row;

}

.UserMedia {
    display: flex;
    flex-direction: row;

}

.UserInfo {
    margin-bottom: 0px;
    margin-top: -3px;
    font-weight: bold;
    font-size: smaller;
    align-items: center;
}

.Usercredential {
    font-size: small;
}

/* .userDropdown {
    top: 35px;
    left: 1098px;
    width: 113px;
    height: 37px;
    text-align: left;
    letter-spacing: NaNpx;
    opacity: 1;
} */


/* .dropdown-toggle {
    align-item: center;
    
} */

.userIconNav {
    height: 15px;
    width: 15px;
}

/* shishir vai page style */
#wordart {
    /* top: 138px;
left: 108px;
width: 84px;
height: 7.401%; */

    font: 20px/25px;
    font-weight: bolder;
    font-family: "Helvetica Neue";
    letter-spacing: 0;
    color: #3db7e4;
    text-align: left;
    opacity: 1;
}

#Apdf {
    top: 133px;
    left: 683px;
    width: 261px;
    height: 3%;
    font-size: 22px;
    font-weight: bold;
    font-family: "Helvetica Neue";
    letter-spacing: 0;
    color: #4d4f53;
    text-align: left;

    opacity: 1;
}




#pdf {
    /* top: 132px;
left: 640px; */

    height: 26px;
    background: #A0A5AF 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 26px;
}


#division {
    color: #3db7e4;
    text-align: left;
    font: normal normal normal 14px/16px Helvetica Neue;
    font-family: Helvetica Neue;
    letter-spacing: 0px;
    color: #3DB7E4;
    margin-bottom: 0px;

    opacity: 1;
}


#touhidul {
    /* top: 228px;
left: 641px;
width: 115px;
height: 21px; */
    font-size: 18px/22px;
    font-family: helvetica Neue;
    letter-spacing: 0;
    color: #4d4f53;
    text-align: left;
    opacity: 1;
    margin-bottom: 0px;
    flex-wrap: wrap;
}

.flx {
    display: flex;
}

.filds {
    margin-bottom: 50px;
}

#imgTec {
    /* height: 279px;
    width: 279px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

#pil {
    border-radius: 16px;
    color: white;
    background-color: #3DB7E4;
    margin-left: 15px;
    margin-right: 15px;

}

#pil1 {
    border-radius: 16px;
    color: white;
    background-color: #A0A5AF;
    margin-left: 15px;
    margin-right: 15px;
}

#norm {
    color: #A0A5AF;
    font-size: 16px/18px;
    margin-left: 15px;
    margin-right: 15px;
}

#footer {
    margin-top: 100px;

}